/* Global */

* {
   margin: 0;
   padding: 0;
   font-family: 'Raleway', sans-serif;
}

body {
   max-width: 1440px;
   margin: 0 auto;
   padding: 0 3rem;
}

main {
   margin: 2.5rem 0;
}

/* Component */

.booki-logo {
   max-width: 4rem;
   max-height: 1.25rem;
}

.section-title {
   font-weight: 700;
   font-size: 1.375rem;
}

.info-sub {
   font-weight: 400;
   font-size: 1rem;
   line-height: 2rem;
}

/* Header */

#prime-header {
   height: 6rem;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

#prime-nav {
   height: 6rem;
   width: 16rem;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

#prime-nav a {
   text-decoration: none;
   padding: 2.25rem 1rem;
   border-top: 0.25rem solid transparent;
}

#prime-nav a:hover {  
   color: #0065fc;
   font-weight: 400;
   border-top: 0.25rem solid #0065fc;
}

/* Main Content */



/* Search Form */

.search-field {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   margin: 1rem 0;
   height: 2rem
}

.search-field button {
   border: 1px solid #0065fc;
   border-left: none;
   border-radius: 0 0.5rem 0.5rem 0;
   padding: 0 0.5rem;
   color: white;
   background-color: #0065fc;
   font-weight: 700;
   font-size: 1.125rem;
}

.search-field input {
   border: 1px solid #f2f2f2;
   border-right: none;
   padding: 0 0.5rem;
   background-color: white;
   font-weight: 700;
   font-size: 1.125rem;
}

.search-field i.fa-location-dot {
   display: flex;
   flex-basis: 2rem;
   justify-content: center;
   align-items: center;
   background-color: #f2f2f2;
   border-radius: 0.5rem 0 0 0.5rem;
}


/* Media Queries */

   /* Desktop */

@media (min-width: 768px) {
   .mobile-button {
      display: none;
   }
}

   /* Mobile */

@media (max-width: 767px) {
   .desktop-button {
      display: none;
   }
}